.header {
    border-bottom: 0.1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header__left {
    display: flex;
}

.header__left > img {
    height: 40px;
    margin-right: 10px;
    object-fit: contain;
}

.header__search {
    align-items: center;
    background-color: #eef3f8;
    border-radius: 5px;
    color: gray;
    display: flex;
    height: 22px;
    padding: 10px;
}

.header__search > input {
    background: none;
    border: none;
    outline: none;
}

.header__right {
    display: flex;
}